.nav{
  background-color: lightsalmon;
  text-decoration: underline;
  font-size: x-large;
  padding: 12px;
  border: black 5px solid;
}

ul{
  justify-content: space-around;
  display: flex;
  width: 100%;
}